<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Home',
        description: 'pickadate v3 と holiday_jp-js を使った datepicker のサンプル',
        address: '北海道札幌市北区丸山町字辛亥五ノ村30-90',
        postalcode: '001-0000',
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<main class="l-main">
    <section class="container pb-5">
        <form action="#" method="post" class="h-adr">
            <span class="p-country-name" style="display:none;">Japan</span>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="datepick">日付指定</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="datepick" name="datepick" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="postalcode">郵便番号</label>
                <div class="col-sm-9">
                    <input type="tel" class="form-control p-postal-code" id="postalcode" name="postalcode" placeholder="<%= parameters.postalcode %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="address">住所</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control p-region p-locality p-street-address p-extended-address" id="address" name="address" placeholder="<%= parameters.address %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="comment">コメント</label>
                <div class="col-sm-9">
                    <textarea placeholder="<%= parameters.description %>" class="form-control" id="comment" name="comment"></textarea>
                </div>
            </div>
            <div class="form-group row form_footer">
                <label class="col-sm-3 col-form-label" for="form_simulateButon"></label>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary" id="form_confirmButton" name="form_confirm"><i class="fas fa-fw fa-paper-plane mr-2" aria-hidden="true"></i>送信する<span class="ml-2">(ダミー)</span></button>
                    <p class="text-muted">送信機能はないため、ボタンを押しても動作しません。</p>
                    <p class="text-muted">住所・郵便番号・電話番号はいずれもダミーです。</p>
                </div>
            </div>
        </form>
    </section>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>